/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
}
a {
  color: #06c;
}
img {
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}

/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}
.section1 {
  background-color: #fafafa;
}
.section11 {
  padding-top: 10px;
}
.section12 {
  font-size: 40px;
}
.section13 {
  font-size: 25px;
}
.section1linkswrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.section1linkswrapper a {
  text-decoration: none;
}
.section1linkswrapper a:hover {
  color: #1d1d1f;
}
.section2 {
  background-image: url(/Project/RESOURCES/images/home/iphone11-pro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
  color: white;
}
.section21 {
  padding-top: 10px;
  font-size: 40px;
}
.section22 {
  font-size: 19px;
}
.section23 {
  font-size: 15px;
}
.section2linkswrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.section2linkswrapper a {
  text-decoration: none;
}
.section2linkswrapper a:hover {
  color: #1d1d1f;
}

.section3 {
  background-image: url(/Project/RESOURCES/images/home/iphone11-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
  color: black;
}
.section31 {
  padding-top: 10px;
  font-size: 40px;
}
.section32 {
  font-size: 19px;
}
.section33 {
  font-size: 15px;
}
.section3linkswrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.section3linkswrapper a {
  text-decoration: none;
}
.section3linkswrapper a:hover {
  color: #1d1d1f;
}

.section4 {
  height: auto;
  color: black;
  width: 100%;
}
.divsection4 {
  background-image: url(/Project/RESOURCES/images/home/watch-series-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
}
.section41 img {
  padding-top: 10px;
  font-size: 40px;
}
.section42 {
  font-size: 19px;
}

.section43 {
  font-size: 15px;
}
.section4linkswrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
}
.section4linkswrapper a {
  text-decoration: none;
}
.section4linkswrapper a:hover {
  color: #1d1d1f;
}

.section44 img {
  padding-top: 10px;
  font-size: 40px;
}
.section45 {
  font-size: 19px;
}
.section46 {
  font-size: 15px;
}
.divsection41 {
  background-image: url(/Project/RESOURCES/images/home/apple-card.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 580px;
}

.divsection5 {
  background-image: url(/Project/RESOURCES/images/home/apple-tv-background.jpg);

  height: 780px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: black;
  padding-top: 90px;
  width: 100%;
}
.section51 img {
  width: 20%;
}
.section52 img {
  padding-top: 260px;
}
.section53 a {
  text-decoration: none;
  color: blue;
  font-weight: lighter;
  font-size: 20px;
}
.section5 .section53 {
  padding-top: 200px;
}

.divsection51 {
  background-image: url(/Project/RESOURCES/images/home/air-pods.jpg);

  height: 780px;
  background-position: bottom;
  background-repeat: no-repeat;

  text-align: center;
  color: #fff;
  padding-top: 90px;
  width: 100%;
  background-color: black;
}
.section54 {
  font-weight: 0.1;
  font-size: 50px;
}
.section55 {
  font-size: 25px;
  font-weight: 0.01;
}
.section5linkswrapper ul {
  display: flex;
  list-style: none;
  gap: 25px;
  justify-content: center;
  padding-bottom: 15px;
}
.section5linkswrapper ul li a {
  text-decoration: none;
  color: #06c;
  font-weight: lighter;
  font-size: 25px;
}
.section5linkswrapper a:hover {
  color: black;
}

.divsection6 {
  background-image: url(/Project/RESOURCES/images/home/macbook-pro.jpg);

  height: 780px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: initial;
  text-align: center;
  color: black;
  padding-top: 90px;
  width: 100%;
  background-color: #fafafa;
}

.section61 {
  font-weight: 0.01;
  font-size: 20px;
}
.section62 {
  font-size: 50px;
}
.section63 {
  font-size: 20px;
}
* {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

/* Header Style */
.header-wrapper {
  background: black;
  color: #fff;
  font-weight: 200;
  font-size: 0.75em;
}
.header-wrapper ul {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.internal-wrapper {
  width: 980px;
  padding: 0 10px;
  margin: 0 auto;
}
.header-wrapper .header-links-wrapper ul li a {
  text-decoration: none;
  color: #fff;
}
.header-wrapper ul {
  list-style: none;
}
.header-wrapper .header-links-wrapper ul li {
  display: inline-block;
  padding: 14px 0 8px;
  height: 25px;
  opacity: 0.8;
}
.header-wrapper .header-links-wrapper ul li:hover {
  opacity: 1;
}
.logo-link,
.search-link,
.cart-link {
  width: 18px;
  display: block;
}
.header-wrapper .header-links-wrapper ul li.logo-link {
  padding: 12px 0 10px;
}
.header-wrapper .header-links-wrapper ul li.search-link {
  padding: 14px 0 8px;
}
.header-wrapper .header-links-wrapper ul li.cart-link {
  padding: 12px 0 10px;
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #1d1d1f;
  font-size: 0.65em;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  color: #86868b;
  padding: 17px 0 20px;
}
.upper-text-container a {
  text-decoration: none;
  color: #515154;
}
.upper-text-container a:hover {
  text-decoration: underline;
}
.footer-links-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 20px;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 20px;
}
.footer-wrapper ul li {
  padding: 5px 0;
  font-size: 0.9em;
}
.footer-links-wrapper a {
  color: #515154;
  text-decoration: none;
}
.footer-links-wrapper a:hover {
  text-decoration: underline;
}
.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
}
.my-apple-wrapper {
  border-bottom: 1px solid #d2d2d7;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.copyright-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 10px 0 20px;
}
.footer-links-terms ul li {
  display: inline-block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
}
.footer-links-terms ul li:last-child {
  border-right: 0px;
}
.footer-links-terms ul li a {
  text-decoration: none;
  color: #515154;
}
.footer-links-terms ul li a:hover {
  text-decoration: underline;
}
.footer-country {
  display: inline-block;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
}
.footer-country-name {
  display: inline-block;
  vertical-align: top;
}

/* Main Highlight */
.main-highlight-wrapper {
  background: #fafafa;
  text-align: center;
  padding: 25px 0;
}
.links-wrapper ul {
  list-style: none;
}
.model {
  font-size: 0.85em;
}
.product-title {
  font-weight: 700;
  font-size: 56px;
}
.brief-description {
  font-size: 2em;
}
.links-wrapper {
  padding: 15px 0;
}
.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}
.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
}
.links-wrapper ul li a:hover {
  color: #000;
}
.links-wrapper ul li a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f105";
  padding-left: 10px;
}

/* Second Highlight Section */
.second-hightlight-wrapper {
  background-image: url("../images/home/iphone11-pro-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
}
.title-wraper {
  font-weight: 600;
  font-size: 56px;
}
.description-wrapper {
  font-size: 26px;
  padding: 10px 0;
}
.price-wrapper {
  color: #86868b;
  font-size: 0.85em;
}

/* Third Highlight Section */
.third-highlight-wrapper {
  background-image: url("../images/home/iphone11-bg.jpg");
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
}

/*Fourth Highlight Section */
.fourth-heghlight-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.left-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 0.5% 0% 1%;
  padding-top: 54px;
}
.fourth-heghlight-wrapper .left-side-wrapper {
  background-image: url("../images/home/watch-series-5.jpg");
}
.right-side-wrapper {
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 48.5%;
  margin: 1% 1% 0% 0.5%;
  padding-top: 54px;
}
.fourth-heghlight-wrapper .right-side-wrapper {
  background-image: url("../images/home/apple-card.jpg");
}
.description-wraper {
  max-width: 430px;
  margin: 0 auto;
  padding: 10px;
}

/*Fivth Highlight Section */
.fifth-heghlight-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.fifth-heghlight-wrapper .left-side-wrapper {
  background-image: url("../images/home/apple-tv-background.jpg");
}
.fifth-heghlight-wrapper .right-side-wrapper {
  background-image: url("../images/home/air-pods.jpg");
  color: #fff;
  background-size: initial;
  background-color: #000;
  background-position: bottom;
}
.logo-wrapper {
  font-size: 40px;
  font-weight: bold;
}
.tvshow-logo-wraper {
  padding: 180px 0 200px;
}
.watch-more-wrapper a {
  text-decoration: none;
  font-size: 0.85em;
}
.watch-more-wrapper a:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 15px;
}
/*Sixth Highlight Section */
.sixth-heghlight-wrapper {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  background: #fff;
}
.sixth-heghlight-wrapper .left-side-wrapper {
  background-image: url("../images/home/macbook-pro.jpg");
  background-size: initial;
  background-color: #fafafa;
  background-position: bottom;
}
.sixth-heghlight-wrapper .right-side-wrapper {
  background-image: url("../images/home/new-ipad.jpg");
}
.product-title-small {
  font-weight: 700;
  font-size: 45px;
}

.section6linkswrapper ul {
  display: flex;
  list-style: none;
  gap: 25px;
  justify-content: center;
  padding-bottom: 15px;
}
.section6linkswrapper ul li a {
  text-decoration: none;
  color: #06c;
  font-weight: lighter;
  font-size: 25px;
  font-weight: 0.01;
}
.section6linkswrapper ul li a:hover {
  color: black;
}

.divsection61 {
  background-image: url(/Project/RESOURCES/images/home/new-ipad.jpg);

  height: 780px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: initial;
  text-align: center;
  color: black;
  padding-top: 90px;
  width: 100%;
  background-color: #fafafa;
}
.section6 .divsection61 .section64 img {
  width: 12%;
}
.section65 {
  font-weight: 0.001;
  font-size: 25px;
}
.section6linkswrapper ul {
  display: flex;
  list-style: none;
  gap: 25px;
  justify-content: center;
  padding-bottom: 15px;
}
